<div class=" nav-maincontainer hidden maincontainer-client">
    
    <div class="header">
        <div class="pagetitle color-mc">
            <span>Manage clients</span>
        </div>
        <div class="filler color-mc"></div>
        <div class="accwidgets">
            <!-- <div class="widget btn-shadow">
                <span id="createclient"><i class="fas fa-user-plus"></i>Create client</span>
            </div> -->
        </div>
    </div>

    <div class="container">
        <div class="left color-sc">
            <div class="acclist">
                <div class="search">
                    <input id="accSearch" type="text" placeholder="Type Here">
                    <span id="client-searchicon"><i class="fas fa-search"></i></span>
                </div>
                <div class="acclistcon">
                    <div class="widget btn-shadow">
                        <span>Acc1Acc1Acc1Acc1Acc1Acc1Acc1Acc1Acc1Acc1Acc1Acc1Acc1Acc1</span>
                    </div>
                    <div class="widget btn-shadow">
                        <span>Acc1</span>
                    </div>
                    <div class="widget btn-shadow">
                        <span>Acc1</span>
                    </div>
                    <div class="widget btn-shadow">
                        <span>Acc1</span>
                    </div>
                    <div class="widget btn-shadow">
                        <span>Acc1</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="right">
            <div class=" viewacc color-sc">
                <div class="con">
                    <div class="viewheader">
                        <span id="view-accid">ACC-0001</span>
                        <i id="acc-view-close" class="fas fa-times"></i>
                    </div>
                    <div class="viewdetails">
                        <div class="name">
                            <div class="firstname">
                                <label for="name">First name</label>
                                <input disabled id="accview-firstname" type="text" placeholder="Type Here">
                            </div>
                            <div class="lastname">
                                <label for="name">Last name</label>
                                <input  disabled id="accview-lastname" type="text" placeholder="Type Here">
                            </div>
                        </div>
                        <div class="email">
                            <label for="name">Email</label>
                            <input  disabled id="accview-email" type="text" placeholder="Type Here">
                        </div>
                        <div class="password">
                            <label for="name">Password</label>
                            <input  disabled id="accview-password" type="password" placeholder="Type Here">
                            <i id="viewpassword" class="fas fa-eye"></i>
                        </div>
                    </div>
                    <div class="viewfooter">
                        <!-- <button id="accviewdelete" class="btn-shadow">Delete</button> -->
                        <button cid="edit" id="accviewedit" class="btn-shadow">Edit</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>