


<div class="maincontainer-guest">

    <div class="guest-con">
        <div class="guest-search-con">
            <div class="search-header">
                <input type="text" name="book" id="search-book-text" placeholder="Type Here">
                <span id="search-book"><i class="fas fa-search"></i></span>
                
            </div>
        </div>




        <div class="inventory-con">
            <div class="column">
                <label class="book-image">
                    <img src="lib//images//book.jpg" alt="Book">
                </label>
                <label for="book" class="book-title">Book Tile</label>
            </div>
            <div class="column">
                <label class="book-image">
                    <img src="lib//images//book.jpg" alt="Book">
                </label>
                <label for="book" class="book-title">Book Tile</label>
            </div>
            <div class="column">
                <label class="book-image">
                    <img src="lib//images//book.jpg" alt="Book">
                </label>
                <label for="book" class="book-title">Book Tile</label>
            </div>
            
            
        </div>
    </div>


</div>





