


<div class=" nav-maincontainer hidden maincontainer-inventory">

    
    <div class="header">
        <div class="pagetitle color-mc">
            <span>Inventory</span>
        </div>
        <div class="inventory-tabs">
            <div class=" inventory-tabs-con ">
                <div cid="items" class="hidden inventory-tab-widget btn-shadow">
                    <span id="inventory-tab-item">Items</span>
                </div>
                
                
            </div>
        </div>
        <div class="inventory-widgets">
            <div class=" widget btn-shadow">
                <span id="add-book"><i class="fas fa-book"></i>Add Book</span>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="left color-sc">
            <div class="inventory-list">
                <div class="search">
                    <input id="inventory-search" type="text" placeholder="Type Here">
                    <span id="inventory-searchicon"><i class="fas fa-search"></i></span>
                </div>
                <div id="item-select-category" class="hidden select-category">
                    <select name="category" id="inventory-item-category">
                        <option value="all">All</option>
                        <option value="sanitized">Sanitized</option>
                        <option value="unsanitized">Unsanitized</option>
                    </select>
                </div>
                <div class="inventory-listcon">
                    <div class="widget btn-shadow">
                        <span>Book 1</span>
                    </div>
                    <div class="widget btn-shadow">
                        <span>Book 2</span>
                    </div>
                    <div class="widget btn-shadow">
                        <span>Book 3</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="right">
            <div class=" item">
                <div class="item-con">
                    <div class="hidden view-inventory color-mc">
                        <div class="con">
                            <div class="viewheader">
                                <span cid="" class="inventory-view-id">Book ID</span>
                                <i id="inventory-view-close" class="fas fa-times"></i>
                            </div>
                            <div class="viewdetails">
                                <div class="iventory-view-image">
                                    <input type="file" name="" id="choose-book-image" class="hidden" accept="image/png, image/gif, image/jpg">
                                    <img src="lib//images//book.jpg" alt="">
                                </div>
                                <div class="inventory-view-details">
                                    <div class="row">
                                        <div>
                                            <span>Title: </span>
                                            <input disabled type="text" id="inventory-view-title" value="Book Title">
                                        </div>
                                        <div>
                                            <span>Author: </span>
                                            <input disabled type="text" id="inventory-view-author" value="Author Name">
                                        </div>
                                        <div>
                                            <span>Year: </span>
                                            <input disabled type="text" id="inventory-view-year-published" value="Year Published">
                                        </div>
                                        <span></span>
                                        <div class="view-qty">
                                            <span>Qty: </span>
                                            <input disabled type="number" id="inventory-view-qty" value="0">
                                            <!-- <div class="view-change-qty" >
                                                <span id="inventory-view-qty-subtract"><i class="fas fa-minus"></i></span>
                                                <span id="inventory-view-qty-add"><i class="fas fa-plus"></i></span>
                                            </div> -->
                                        </div>
                                        <span></span>
                                        <div class="view-description">
                                            <span>Description: </span>
                                            <textarea disabled name="description" id="inventory-view-description" cols="30" rows="10" ></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="viewfooter">
                                <button id="inventory-view-delete" class="btn-shadow" >Delete</button>
                                <button cid="edit" id="inventory-view-edit" class="btn-shadow" >Edit</button>
                            </div>
                        </div>
                    </div>

                    <div class="hidden create-inventory color-mc">
                        <div class="con">
                            <div class="createheader">
                                <span cid="" class="inventory-create-id">Book ID</span>
                                <i id="inventory-create-close" class="fas fa-times"></i>
                            </div>
                            <div class="createdetails">
                                <div class="iventory-create-image">
                                    <input type="file" name="" id="choose-book-image" class="hidden" accept="image/png, image/gif, image/jpg">
                                    <img src="lib//images//book.jpg" alt="">
                                </div>
                                <div class="inventory-create-details">
                                    <div class="row">
                                        <div>
                                            <span>Title: </span>
                                            <input  type="text" id="inventory-create-title" placeholder="Type Here">
                                        </div>
                                        <div>
                                            <span>Author: </span>
                                            <input  type="text" id="inventory-create-author" placeholder="Type Here">
                                        </div>
                                        <div>
                                            <span>Year: </span>
                                            <input  type="text" id="inventory-create-year-published" placeholder="Type Here">
                                        </div>
                                        <span></span>
                                        <div class="create-qty">
                                            <span>Qty: </span>
                                            <input  type="number" id="inventory-create-qty" value="0">
                                            <!-- <div class="create-change-qty" >
                                                <span id="inventory-create-qty-subtract"><i class="fas fa-minus"></i></span>
                                                <span id="inventory-create-qty-add"><i class="fas fa-plus"></i></span>
                                            </div> -->
                                        </div>
                                        <span></span>
                                        <div class="create-description">
                                            <span>Description: </span>
                                            <textarea  name="description" id="inventory-create-description" cols="30" rows="10" ></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="createfooter">
                                <button id="inventory-create-save" class="btn-shadow" >Add Book</button>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>

        </div>
    </div>
</div>





